@font-face {
    font-family: 'Inter Regular';
    src: local('Inter Regular'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular\ \(1\).woff2') format('woff2'),
 
    

}


@font-face {
    font-family: 'Montserrat Bold';
    src: local('Montserrat Bold'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),

}


@font-face {
    font-family: 'Montserrat Medium';
    src: local('Montserrat Medium'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        
}

@font-face {
    font-family: 'Montserrat Regular';
    src: local('Montserrat Regular'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        
}

@font-face {
    font-family: 'Montserrat Semibold';
    src: local('Montserrat Semibold'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),   
}


@font-face {
    font-family: 'Poppins Bold';
    src: local('Poppins Bold'),
    url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'),     
}


@font-face {
    font-family: 'Poppins Regular';
    src: local('Poppins Regular'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),   
}



@font-face {
    font-family: 'Poppins Medium';
    src: local('Poppins Medium'),
    url('../fonts/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins-Medium.woff2') format('woff2'),
        
}


@font-face {
    font-family: 'Poppins Semibold';
    src: local('Poppins Semibold'),
    url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2')
        
}


@font-face {
    font-family: 'Raleway Regular';
    src: local('Raleway Regular'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
        
}


@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
        
}


@font-face {
    font-family: 'Roboto Regular';
    src: local('Roboto Regular'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
        
}


@font-face {
    font-family: 'VelaSans Semibold';
    src: local('VelaSans Semibold'),
    url('../fonts/VelaSans-SemiBold.woff') format('woff'),
    url('../fonts/VelaSans-SemiBold.woff2') format('woff2'),
        
}


